@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply size-full bg-white dark:bg-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  button:disabled {
    opacity: .5;
  }
}
